@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Poppins", "sans-serif";
    
    --color-primary: #7209B7;
    --color-primary-50: rgba(114, 9, 183, 0.5);
    --color-primary-dark: #550788;

    --color-black-100: #353535;
    --color-black-75: #676767;
    --color-black-50: #9B9B9B;
    --color-black-25: #CDCDCD;

    --color-white: #FFFFFF;

    --color-white-primary: #FAFAFA;
    --color-white-secondary: #F7F7F8;

    --color-red-primary: #CB0000;

    --text-button: 15px;
    --text-display: 32px;
    --text-body: 18px;
}

body {
    font-family: var(--font-display);
    font-size: var(--text-body);
    background-color: var(--color-white);
}